*{
	 font-family: Verdana, sans-serif;
}



table {
	border-collapse: collapse;
}

caption {
	font-size: 18pt;
	padding-top: 18px;
	padding-bottom: 18px;
}

th, td {
	border: 1.5px solid #D3D3D3;
	padding: 5px;
}

td.broj {
	text-align: right;
}

th {
	color: white;
	background-color: #008B8B;
}

tr:nth-child(even) {
	background-color: #D3D3D3;
}

input[type="search"] {
	width: 100%;
}
