*{
	 font-family: Verdana, sans-serif;
}


table {
	border-collapse: collapse;
	margin: 5px;
}

caption {
	font-size: 20pt;
	padding-top: 15px;
	padding-bottom: 15px;
}

th, td {
	border: 1.5px solid #D3D3D3;
	padding: 5px;
}

th {
	text-align: right;
	width: 180px;
	color: white;
	background-color: #008B8B;
}

td {
	background-color: White;
	min-width: 280px;
}

input, textarea, select {
	width: 280px;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	width: 20px;
}
